<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Scripts to preload  -->
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <title>LilBlu</title>
</head>
<body>
    <div th:fragment="domainLookup">
        <p>Here you will be able to lookup a WhoIs search, as well as a Social Presence Check, which will crawl the existing site and present a list of Social media presences</p>
        <br>
        <p>The Social presence we're looking for, but not limited to:</p>
            <ul>
                <li> Facebook </li>
                <li> YouTube </li>
                <li> Instagram </li>
                <li> Twitter </li>
                <li> LinkedIn </li>
                <li> Pinterest </li>
                <li> TikTok </li>
                <li> Reddit </li>
                <li> spotify </li>
                <li> soundcloud </li>
                <li> itunes.apple </li>
                <li> snapchat </li>
                <li> bandcamp.com </li>
            </ul>
    </div>
</body>
</html>