<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Scripts to preload  -->
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <title>LilBlu</title>
</head>
<body>
    <div th:fragment="exceptionSending">
        <p>here will be a compilation of exception reporting tools for agents to use</p>
    </div>
</body>
</html>