<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        .agentNew {
            position: absolute;
            left: 50%;
            transform: translate(-50%) scale(1);
        }

        .body {
            background-color: #ffffff;
        }

        details {
            user-select: none;
        }

        summary {
            display: flex;
            cursor: pointer;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        .textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            position: center;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Daily Callbacks | Admin Control Panel</title>
</head>
<body class="body">
    <div th:replace="header :: header"></div>
    <div class="px-4 text-center mx-auto"><p class="display-6 fw-bold text-lg-center">👑 Welcome to the Admin Control Panel 👑</p><br></div>
    <!--  Adding Callbacks  -->
    <div class="container align-content-center border" style="max-width: 1080px">
        <details>
            <summary style="text-align:center; font-weight:bold; font-size: x-large">🔰 Add Callbacks 🔰</summary>
            <div><br></div>
            <div class="container align-content-center border"><br>
                <p class="text-center" style="text-align:center; font-weight:bold; font-size: x-large">Single Callback addition</p>
                <form action="#" th:action="@{/admin/add/singleton}" th:object="${callback}" method="post">
                    <table class="table table-striped table-bordered mx-auto" style="width:100%">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Case</th>
                            <th scope="col">Agent</th>
                            <th scope="col">Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label>
                                    <input type="text" th:field="*{dateOfCallback}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{time}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{callbackCase}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{agent}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{notes}">
                                </label> <br><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary" style="margin-left: 45%">Add Singleton</button>
                    <br><br>
                </form>
            </div>
            <div><br></div>
            <div class="container align-content-center border"><br>
                <p class="text-center" style="text-align:center; font-weight:bold; font-size: x-large">Bulk addition</p>
                <form id="bulkCallback" th:action="@{/admin/add/bulk}" th:object="${bulkObject}" method="post">
                    <label for="bulkData">
                        <textarea class="textarea" th:field="*{dataToParse}" id="bulkData" name="bulkData" rows="4" cols="144" form="bulkCallback"></textarea>
                    </label><br>
                    <button type="submit" class="btn btn-primary" style="margin-left: 50%; transform: translate(-50%) scale(1)">Submit Bulk</button>
                    <br><br>
                </form>
            </div>
        </details>
    </div>

    <div><br></div>

    <!--  Agent Details  -->
    <div class="container align-content-center border" style="max-width: 1080px">
        <details>
            <summary style="text-align:center; font-weight:bold; font-size: x-large">🕵 Agent Details 🕵</summary>
            <div><br></div>
            <!--  Add new Agent  -->
            <div class="container align-content-center border"><br>
                <p class="text-center" style="text-align:center; font-weight:bold; font-size: x-large">Add New Agent</p>
                <form action="#" th:action="@{/admin/add/agent}" th:object="${newAgent}" method="post">
                    <label class="agentNew">
                        <input type="text" placeholder="Agent Email" style="width:250px; text-align:center" th:field="*{agentEmail}">
                        <input type="text" placeholder="Agent Username" style="width:250px; text-align:center" th:field="*{agentUsername}"><br>
                        <input type="text" placeholder="PIN (optional)" style="width:250px; text-align:center" th:field="*{agentPin}">
                        <input type="number" placeholder="0=WBC | 1=Pro-AM | 2=Sup" style="width:250px; text-align:center" min="0" max="2" th:field="*{agentAccess}">
                    </label>
                    <br><br><br>
                    <button type="submit" class="btn btn-primary" style="margin-left: 50%; transform: translate(-50%) scale(1)">Add Agent</button>
                    <br><br>
                </form>
            </div>
            <div><br></div>
            <!--  List all Agents  -->
            <div class="container align-content-center border"><br>
                <p class="text-center" style="text-align:center; font-weight:bold; font-size: x-large">List of Agents</p>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Primary Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(agents)}">
                        <td colspan="5" style="text-align: center"></td>
                    </tr>
                    <tr th:if="${#lists.size(agents) > 0}" th:each="agent : ${agents}">
                        <td th:text="${agent.agentEmail}"></td>
                        <td th:text="${agent.agentUsername}"></td>
                        <td th:text="${agent.agentFirstName}"></td>
                        <td th:text="${agent.agentLastName}"></td>
                        <td th:text="${agent.getPrimaryRole()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>

    <div><br></div>

    <!--  Listing the Callbacks  -->
    <div class="container align-content-center border" style="max-width: 1080px">
        <details>
            <summary style="text-align:center; font-weight:bold; font-size: x-large">📞 Daily Callbacks ☎</summary>
            <div><br></div>
            <div class="container align-content-center border" style="text-align: center">
                <label>Filters Coming Soon...</label>
            </div>
            <div><br></div>
            <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Case</th>
                <th scope="col">Agent</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(callbacks)}">
                <td colspan="6" style="text-align: center">＼(ﾟｰﾟ＼) 🎉 No callbacks to display 🎉 ( ﾉ ﾟｰﾟ)ﾉ</td>
            </tr>
            <tr th:if="${#lists.size(callbacks) > 0}" th:each="callback : ${callbacks}">
                <td th:text="${callback.dateOfCallback}"></td>
                <td th:text="${callback.time}"></td>
                <td th:text="${callback.callbackCase}"></td>
                <td th:text="${callback.agent}"></td>
                <td th:text="${callback.notes}"></td>
                <td>
                    <a class="btn btn-primary" href="#" th:href="@{/callback_details/{id}(id=${callback.uid})}">View</a>
                    <a class="btn btn-primary" href="#" th:href="@{/callback_details/{id}(id=${callback.uid})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        </details>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>
