<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--  Scripts to preload  -->
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/callbackDetails.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WBC Tracker | Callback Details</title>
</head>
<body class="body">
<div th:replace="~{fragments/header::header}"></div>
<div class="container">
    <!-- The Popup requesting notes -->
    <div class="popup" id="popup-1">
        <div class="content">
            <form action="#" th:action="@{/callback_details/addNote(id=${detailIndex})}" th:object="${newCallbackDetails}" method="post">
                <div class="close-btn" onclick="togglePopup()">❌</div>
                <h1>WBC Note</h1>
                <div class="input-field"><input placeholder="Date" id="detailDate" th:field="*{cbDate}" class="validate"></div>
                <div class="input-field"><input placeholder="Time" id="detailTime" th:field="*{cbTime}" class="validate"></div>
                <div class="input-field"><input placeholder="Day" id="detailDay" th:field="*{cbDay}" class="validate"></div>
                <div class="input-field"><input placeholder="Attempt" id="detailAttempt" th:field="*{cbAttempt}" class="validate"></div>
                <div class="input-field"><input placeholder="Note" id="detailNote" th:field="*{cbNote}" class="validate"></div>
                <button class="second-button" href="#" onclick="togglePopup()">Submit</button>
            </form>
        </div>
    </div>

    <!-- The Head of the DetailsCard -->
    <div class="card" style="display: flex; flex-direction: row">
        <div class="card-body">
            <form action="#" th:action="@{/callback_details/complete(id=${callback.uid})}" method="post">
                <h3 class="card-title">Case:</h3>
                <h5 class="card-subtitle" th:text="${callback.callbackCase}">F-8417</h5><br>
                <h5>Time:</h5>
                <p th:text="${callback.time}">time</p>
                <h5>Case Notes:</h5>
                <p th:text="${callback.notes}">N/A</p>
                <h5>Actions:</h5><br>
                <a class="first-button btn-primary" href="#" onclick="openWbdNoteEntry()">Add Note</a>
                <button th:unless="${callback.getCompleted()}" type="submit" class="btn btn-primary" style="margin-bottom: 7px">Complete</button>
            </form>
        </div>
        <div class="card-body">
            <h3 class="card-title">Case Owner</h3>
            <h5 class="card-subtitle" th:text="${callback.agent}">Owner</h5><br>
            <h5>Assigned:</h5>
            <p th:text="${callback.assigned}">Assigned</p>

            <div th:if="${callback.getCompleted()}">
                <h5>Completed:</h5>
                <a th:text="'Completed by: ' + ${callback.getCompletedBy()}">Completed by:</a><br>
                <a th:text="'Completed on: ' + ${callback.getDateCompleted()}">Completed on:</a><br>
                <a th:text="'Completed at: ' + ${callback.getTimeCompleted()}">Completed at:</a><br>
            </div>
        </div>
    </div>

    <!-- The Table of notes -->
    <div class="container">
        <table class="table table-striped table-bordered border-dark">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Day</th>
                    <th scope="col">Attempt</th>
                    <th scope="col">WBC Note</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="detail : ${callback.details}">
                <td th:text="${detail.cbDate}"/>
                <td th:text="${detail.cbTime}"/>
                <td th:text="${detail.cbDay}"/>
                <td th:text="${detail.cbAttempt}"/>
                <td th:text="${detail.cbNote}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function togglePopup() {
        document.getElementById("popup-1").classList.toggle("active");

    }

    function openWbdNoteEntry() {
        togglePopup()
        const currentTime = new Date();
        const month = currentTime.getMonth() + 1;
        const day = currentTime.getDate();
        const year = currentTime.getFullYear();
        const hours = currentTime.getHours();
        let minutes = currentTime.getMinutes();


        const caseDate = (month + "/" + day + "/" + year);
        document.getElementById("detailDate").setAttribute("value", caseDate)

        if (minutes < 10){
            minutes = "0" + minutes
        }
        const caseTime = (hours + ":" + minutes + " ") + ((hours > 11) ? "PM" : "AM");
        document.getElementById("detailTime").setAttribute("value", caseTime)

    }
</script>
</body>
</html>