<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--  Scripts to preload  -->
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">J.A.R.V.I.S.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin}">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/callbacks}">Callbacks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>