<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--  Scripts to preload  -->
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<!--  MetaData here  -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WBC Tracker | Home</title>
</head>
<body class="body">
    <div th:replace="~{fragments/header::header}"></div>
    <div class="px-4 text-center">
        <h1 class="display-5 fw-bold">Glabay Studios | WBC Tracker</h1>
        <div class="col-lg-6 mx-auto">

            <p class="lead mb-4 py-2">
                🖥 Welcome to the WBC Tracker system 💻<br><br>
                There are currently <a th:text="${totalAgents}">##</a> agents in the database.<br><br>
                There are currently <a th:text="${totalCallbacks}">##</a> callbacks in the database.

            </p>
        </div>
    </div>
</body>
</html>